section{
    width: 90vw;
    margin: auto;
    padding-top: 9rem;
    padding-bottom: 3rem;
    background-color: #fafafa;

    h2{
        padding-left: 0rem;
    }

    p{
        text-align: justify;
        font-size: 14px;
        margin: 1rem 2rem;
    }
}