<section>

    <div class="div-contact">
        <div class="colum-1">
            <h1>Let's Talk</h1>
            <p>Have some big idea or brand to develop and need help? Then reach out we'd love to hear about your project
                and provide help.</p>
            <div class="div-email">
                <h2>Email</h2>
                <img width="64" height="64"
                    src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/737373/external-email-business-kiranshastry-solid-kiranshastry.png"
                    alt="external-email-business-kiranshastry-solid-kiranshastry" />
                <span>email.test&#64;email.com</span>
            </div>
            <div class="div-social">
                <h2>Socials</h2>
                <app-social-media></app-social-media>
            </div>
        </div>
        <div class="colum-2">
            <form action="https://fabform.io/f/xxxxx" method="post">
                <input type='text' name="name" placeholder='Name'
                    class="name" />
                <input type='email' name='email' placeholder='Email'
                    class="email" />
                <input type='text' placeholder='Subject' name='subject'
                    class="subject" />
                <textarea placeholder='Message' rows="6" name='message'
                    class="message"></textarea>
                <button type='button' type="submit"
                    class="btnSubmit">Send</button>
            </form>
        </div>
    </div>
</section>

