<div class="card">
    <a href="#">
        <img class="card-img-top"
        src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2024/04/0/0/musk-brazil.jpg?ve=1&tl=1"
        alt="Card image">
    </a>
    <div class="card-body">
        <h4 class="card-title">Elon Musk calls for ouster of Brazil Supreme Court judge over censorship: ‘He should
            resign’ - Fox Business</h4>
        <p class="card-text">X owner Elon Musk has called for the ouster of a Brazilian Supreme Court Judge, whom he
            accused of blocking accounts that were suspected of spreading disinformation.</p>
        <div class="div-author">
            <span>by Bradford Betz</span>
            <a href="#">See More</a>
        </div>
    </div>

</div>