<div class="btnSocial">
    <a href="https://icons8.com/icon/102907/twitter">
        <img width="40" height="40" src="https://img.icons8.com/material/48/737373/twitter--v2.png"
            alt="twitter--v2" class="btnTwitter"/>
    </a>
    <a href="https://icons8.com/icon/118490/facebook">
        <img width="40" height="40" src="https://img.icons8.com/material/48/737373/facebook-new.png"
            alt="facebook-new" class="btnFacebook"/>
    </a>
    <a href="https://icons8.com/icon/84884/instagram">
        <img width="40" height="40" src="https://img.icons8.com/material/48/737373/instagram-new--v1.png"
            alt="instagram-new--v1" class="btnInstagram"/>
    </a>
    <a href="https://icons8.com/icon/84888/linkedin">
        <img width="40" height="40" src="https://img.icons8.com/material/48/737373/linkedin--v1.png"
            alt="linkedin--v1" class="btnLinkedin"/>
    </a>
    <a href="https://icons8.com/icon/85433/youtube">
        <img width="40" height="40" src="https://img.icons8.com/material/48/737373/youtube--v1.png"
            alt="youtube--v1" class="btnYoutube"/>
    </a>
</div>

