<div class="card">
    <a href="/blog">
        <img class="card-img-top"
        src="https://d.newsweek.com/en/full/2374551/truth-social.jpg"
        alt="Card image">
    </a>
    <div class="card-body">
        <a href="/blog">
            <h4 class="card-title">Fox News Host Confronts Truth Social CEO Over Trump Company Losing $4Bn - Newsweek</h4>
        </a>
        <p class="publish">Published at 2024-04-07T19:22:57Z</p>
        <p class="card-text">Devin Nunes said on Sunday that the company is "well positioned" despite their financial loss.</p>
        <div class="div-author">
            <span>by Natalie Venegas</span>
            <a href="/blog">See More</a>
        </div>
    </div>

</div>
