<section>
    <h2 class="title1">Boeing plane engine cover falls off prompting investigation - BBC.com</h2>
    <div class="div-img">
        <img src="https://ichef.bbci.co.uk/news/1024/branded_news/4AFF/production/_133099191_gettyimages-1207206801.jpg" alt="Image"/>
    </div>
    <div class="div-content">
        <!-- <h2 class="title">Boeing plane engine cover falls off prompting investigation - BBC.com</h2> -->
        <p class="publish">2024-04-07T23:41:05Z</p>
        <p class="author">by BBC News</p>
        <a href="#" class="url">https://www.bbc.com/news/business-68758088</a>
        <div class="content">
            <p>
                The Southwest Airlines flight had to return to Denver International airport shortly after taking off.
            </p>
        </div>

    </div>
</section>
