<section>
    <h2>Services</h2>

    <div class="activities">
        <div class="activity-item">
            <img width="80" height="80" src="https://img.icons8.com/color/96/communication.png" alt="communication"/>
            <h4 class="activity-title">Comunication</h4>
            <p class="activity-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum facilis tenetur eveniet enim quaerat similique rem ipsa ea tempora! Pariatur ab eum officiis magni recusandae magnam, assumenda laborum expedita?</p>
        </div>
        <div class="activity-item">
            <img width="80" height="80" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-release-journalism-soft-fill-soft-fill-juicy-fish.png" alt="external-release-journalism-soft-fill-soft-fill-juicy-fish"/>
            <h4 class="activity-title">Releases</h4>
            <p class="activity-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quis nulla velit, minus vel corporis dicta. Voluptate, aperiam sit corporis harum odio neque necessitatibus assumenda? Nobis placeat nesciunt eligendi molestiae?</p>
        </div>
        <div class="activity-item">
            <img width="80" height="80" src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/external-blog-digital-content-wanicon-lineal-color-wanicon.png" alt="external-blog-digital-content-wanicon-lineal-color-wanicon"/>
            <h4 class="activity-title">Blog</h4>
            <p class="activity-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, iste eligendi. Repellendus unde saepe ullam, beatae consectetur, ab quisquam nesciunt iusto eum iste obcaecati delectus accusantium quis. Est, saepe dicta.</p>
        </div>
    </div>
</section>

